@import 'tailwindcss';

:root {
	--background: #f2f4df;
	--foreground: #171717;

	--color-primary: #EB5D35;
	--color-secondary: #EB5D35;
	--color-success: #018D36;
	--color-danger: #E7452E;
	--color-warning: #F3B220;
	--color-lemon-100: #F2F4DF;

	--header-height: 80px
}

@theme {
	/* TODO: To figure out how to use colors from constants */
 --color-primary: #EB5D35;
 --color-secondary: #EB5D35;
 --color-success: #018D36;
 --color-danger: #E7452E;
 --color-warning: #F3B220;
 --color-lemon-100: #F2F4DF;
}

* {
	box-sizing: border-box;
}

body {
	@apply font-light text-base;

	display: flex;
	flex-direction: column;
	width: 100%;

	font-family: var(--font-zen), sans-serif;
	color: rgb(var(--foreground-rgb));
	background-color: var(--background);

	overflow-x: hidden;
}

/* Base */
.container {
	padding: 0 1.5rem;
	max-width: 100vw;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0 4rem;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		padding: 0 7.5rem;
	}
}

h1, h2 {
	@apply font-extrabold text-3xl text-black uppercase;
}

h3 {
	@apply font-extrabold text-xl text-black uppercase;
}

h4.subtitle {
	@apply font-extrabold text-base uppercase;
}

main {
	min-height: calc(100svh - var(--header-height));
}

.section {
	margin-top: 5rem;
}

#main-bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 400px;

	@media screen and (min-width: 768px) {
		& {
			height: 300px;
		}
	}

	.image-block {
		position: relative;
		margin: 0 auto;
		width: 400px;
		height: 400px;

		@media screen and (min-width: 1024px) {
			& {
				width: 500px;
				height: 500px;
			}
		}

		img {
			position: relative;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: 10;

			@media screen and (min-width: 768px) {
				bottom: 25%;
				left: 50%;
			}

			@media screen and (min-width: 1280px) {
				left: 70%;
			}
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: -100%;
			display: block;
			width: 300%;
			height: 250px;
			background-color: var(--color-primary);
			z-index: 0;

			@media screen and (min-width: 768px) {
				& {
					bottom: -30%;
					height: 400px;
					rotate: -11deg;
				}
			}

			@media screen and (min-width: 1280px) {
				& {
					left: -150%;
					width: 400%;
				}
			}
		}
	}
}